<h3>Super Secret Leo Decryptor!</h3>  
<img src="http://www.fas.org/irp/world/uk/mi5/mi5_2.gif">
<form action="/decrypt" method="post">  
  <input type="text" name="message_to_decrypt">  
  <input type="submit">  
</form>