<h3>Super Secret MI5 Message Encryptor!</h3>  
<img src="http://www.fas.org/irp/world/uk/mi5/mi5_2.gif">
<form action="/secret" method="post">  
  <input type="text" name="secret">  
  <input type="submit">  
</form>